<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block head %}
<!-- Bootstrap -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/pitheme.css') }}" rel="stylesheet">
<title>Movies</title>
{% endblock %}

{% set active_page = "movies" %}

{% block content %}

<h3>All movies</h3>
<ul>
{% for movie in all_movies: %}
	<li>{{movie}}</li>
{% endfor %}
</ul>

<h3>Matching movies</h3>
<ul>
{% for movie in matching_movies: %}
	<li>{{movie}}</li>
{% endfor %}
</ul>

<h3>Downloaded torrents</h3>
<ul>
{% for movie in downloaded_torrents: %}
	<li>{{movie}}</li>
{% endfor %}
</ul>

{% endblock %}

{% block scripts %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
</html>